
   
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <div class="container-fluid">
             <h1 class="navbar-brand text-white">Lista de Contatos</h1>
             <form class="d-flex" action="/search" method="get">
                 <input class="form-control me-2" type="search" name="q" placeholder="Search" aria-label="Search">
                 <button class="btn btn-outline-success" type="submit">Search</button>
             </form>
             <a href="/create"><img src="/imgs/userAdd.png" alt="" class="img-fluid icon-small"></a>
        </div>
    </nav>
    <div class="table-responsive" style="height: 500px; overflow-y: auto;">
        <table class="table table-striped table-hover table-bordered table-sm">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Telefone</th>
                </tr>
            </thead>
            <tbody>
                {{!-- Lê o array de contatos --}}
                {{#each contatos}}
                    <tr>
                        <td>{{this.nome}}</td>
                        <td>{{this.email}}</td>
                        <td>{{this.telefone}}</td>
                        <td>
                            <a href="/edit/{{this.id}}"><img src="/imgs/userUpdate.png" alt="" class="img-fluid icon-small"></a>
                            <a href="/delete/{{this.id}}"><img src="/imgs/userDelete.png" alt="" class="img-fluid icon-small"></a>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
